*{
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    box-sizing: border-box;
    font-family: 'poppins';
}
body{
    background-color: #141c2f;
    padding: 0 30px 40px 30px;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container{
    background-color: #141c2f;
    width: 100%;
    height: 100%;
    display: flex;
    gap: 15px;
}
.title{
    padding: 10px;
    color: #eeaa74;
    text-transform: uppercase;
}
.log-out{
    text-decoration: none;
    color: #eeaa74;
    font-weight: bold;
    text-transform: uppercase;
}
.log-out-button{
    position: absolute;
    bottom: 10px;
    padding: 2px 5px;
}
.log-out:hover{
    color: #fff;
    text-decoration: underline;
}
.sideboard{
    background-color: #2b314c;
    height: 100%;
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    position: relative;
}
.side-b{
    padding: 5px;
    margin: 5px 0;
}
.side-buttons{
    color: #eeaa74;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}
.side-buttons:hover{
    color: #fff;
    cursor: pointer;
    text-decoration: underline;
}
.separators{
    border-bottom: 1px solid #eeaa74;
    opacity: 30%;
}

/* contents */
.contents{
    background-color: #2b314c;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}
.c-box{
    width: 13rem;
    height: 13rem;
    background-color: #eeaa74;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.box-text{
    text-transform: uppercase;
    font-weight: bold;
    color: #141c2f;
}
