html{
    margin: 0px;
    padding: 0px;
    font-family: 'poppins';
    overflow: hidden;
    box-sizing: border-box;
}
body{
    background-color: #141d2e;
}
.for-white-color{
    color: #fff;
}
#sign-up-form{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
