html{
    margin: 0px;
    padding: 0px;
    font-family: 'poppins';
    /* overflow: hidden; */
}
body{
    background-color: #141d2e;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: start;
    box-sizing: border-box;
}
.for-white-color{
    color: #fff;
}
#headline{
    text-align: center;
    margin-top: 5rem;
}
#sign-up-text, #sign-in-text{
    padding: 0 0 10px 0;
    margin: 0px;
    font-size: 2rem;
}
#sign-up-form{
    height: 85vh;
    width: 65vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#cred-area{
    box-sizing: border-box;
    padding: 0 30px 0 30px;
    display: flex;
    flex-direction: column;
    width: 50%;
}
.sign-up-inputs{
    color: #fff;
    background-color: #636b9750;
    margin: 5px 0;
    padding: 10px;
    border-style: none;
    font-size: 1.2rem;
    outline: none;
}
.sign-up-inputs::placeholder{
    color: #fff;
    opacity: 80%;
}
#ptext{
    align-self: center;
    margin: 5px 0px;
}
.form-buttons{
    background-color: #efaa75;
    color: #2a304c;
    margin-top: 20px;
    padding: 10px;
    border-style: none;
    font-size: 1.2rem;
}
.form-buttons:hover{
    border: 2px solid;
    border-color: #fff;
}
#cred-img{
    position: relative;
    height: 100%;
    width: 50%;
    overflow: hidden;
}
#img-poster{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#cred-img-area{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: #2a304c;
    display: flex;
    align-items: center;
    justify-content: center;
}
#admin{
    color: #fff;
    padding: 0px;
    margin: 0px;
}
.admn{
    position: absolute;
    background-color: #151d2f;
    bottom: 20px;
    right: 20px;
    padding: 5px;
    margin: 0px;
    opacity: 30%;
}
.admn:hover{
    opacity: 100%;
    cursor: pointer;
}
form div #cred-area .error-msg{
    margin: 10px 0;
    display: block;
    background-color: #FF4D4D;
    color: #fff;
    border-radius: 5px;
    font-size: 20px;
    padding: 5px;
    text-align: center;
}
