*{
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    box-sizing: border-box;
    font-family: 'poppins';
}
body{
    background-color: #141c2f;
    padding: 0 30px 40px 30px;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.container{
    background-color: #2b314c;
    width: 100%;
    height: 100%;
    display: flex;
}
.title{
    padding: 10px;
    color: #eeaa74;
    text-transform: uppercase;
}
.log-out{
    text-decoration: none;
    color: #141d2e;
    font-weight: bold;
}
.log-out-button{
    position: absolute;
    background-color: #eeaa7490;
    bottom: 5px;
    right: 30px;
    padding: 2px 5px;
}
.log-out-button:hover{
    outline: 1px solid white;
    background-color: #eeaa74;

}
.report-div, .info-div{
    background-color: #2b314c;
    width: 50%;
    height: 100%;
    padding: 10px;
}
.report, .info{
    background-color: #3d4362;
    width: 100%;
    height: 100%;
}